/* Variables */

/* Common */

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial;
}

a {
  text-decoration: none;
}

/* Header */

header {
  text-align: center;
  margin-bottom: 20px;
}

header .navbar {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

header .navbar a {
  padding-left: 10px;
  font-size: 18px;
  color: #002d75;
}

@media only screen and (max-width: 600px) {
  header .navbar a {
    display: none;
  }
}

header .navbar i {
  font-size: 25px;
  color: #002d75;
}

@media only screen and (min-width: 600px) {
  header .navbar i {
    display: none;
  }
}

/* Main */

main .bkg-container {
  background-image: url(/images/fondo-pag-speciali.jpg?2f95c43d2f5c6ce37bf1838709b316a3);
}

main .title h2 {
  margin: 18px;
  color: #002d75;
}

main .cards {
  display: flex;
  flex-wrap: wrap;
}

main .cards .card {
  flex-basis: calc(100% / 3 - 40px);
  position: relative;
  margin: 20px;
  transition-duration: 0.5s;
  overflow: hidden;
}

@media only screen and (max-width: 900px) {
  main .cards .card {
    flex-basis: calc(100% / 2 - 40px);
  }
}

@media only screen and (max-width: 480px) {
  main .cards .card {
    flex-basis: calc(100% / 1 - 40px);
  }
}

main .cards .card:hover .hover {
  display: block;
}

main .cards .card:hover img {
  transform: scale(1.1);
}

main .cards .card img {
  display: block;
  width: 100%;
}

main .cards .card .hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
}

main .cards .card .hover a {
  text-decoration: none;
  color: #002d75;
}

main .cards .card .hover a h3 {
  padding-bottom: 10px;
}

/* Footer */

footer {
  display: flex;
  flex-wrap: wrap;
}

footer .container {
  flex-basis: calc(100% / 2 - 100px);
  margin: 40px;
}

@media only screen and (max-width: 600px) {
  footer .container {
    flex-basis: calc(100% / 1 - 40px);
  }
}

footer .container h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #00195f;
}

footer .container ul {
  list-style: none;
}

footer .container ul li {
  color: #00195f;
  font-size: 14px;
  padding-bottom: 10px;
}

footer .container ul li a {
  color: #00195f;
}

footer .sx ul li {
  font-size: 15px;
  padding-bottom: 5px;
}

footer .sx ul li a {
  text-decoration: none;
  color: black;
}

footer .container-bkg {
  overflow-x: hidden;
}

