/* Variables */

/* Common */

/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

/* Main */

main .title h2 {
  text-align: center;
}

main .cards {
  display: flex;
  flex-wrap: wrap;
}

main .cards .card {
  flex-basis: calc(100% / 3 - 40px);
  position: relative;
  margin: 20px;
  transition-duration: 0.5s;
  overflow: hidden;
}

main .cards .card:hover .hover {
  display: block;
}

main .cards .card:hover img {
  transform: scale(1.1);
}

main .cards .card img {
  display: block;
  width: 100%;
}

main .cards .card .hover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  text-align: center;
}

main .cards .card .hover a h3 {
  padding-bottom: 10px;
}

/* Footer */

