header {
    text-align: center;
    margin-bottom: 20px;

    .navbar {
        display: flex;
        justify-content: center;
        flex-direction: row;

        a {
            padding-left: 10px;
            font-size: 18px;
            color: $third_color;
            @media only screen and (max-width: 600px) {
                display: none;
            }
        }

        i {
            font-size: 25px;
            color: $third_color;
            @media only screen and (min-width: 600px) {
                display: none;
            }
        }
    }
}
